# Mac OS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual Environment (TRÈS IMPORTANT - Ne jamais commiter ça)
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# IDE (PyCharm / VSCode)
.idea/
.vscode/
*.iml

# Logs & Automation
cron/cron.log
